*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
}
body
{
    /* background-color: ; */
}
.container
{
    width: 80%;
    /* background-color: rgb(230, 230, 230); */
    margin: auto;
}
.clearfix
{
    clear: both;
}
.header
{
   display: block;
   position: fixed;
   width: 100%;
   /* height: 60px; */
   top: 0px;
   background-color: rgb(0, 0, 0);
   z-index: 100;
}
.logo
{
    width: 4%;
    margin: .0% 10%;
    padding: .5% 0;
    float: left;
}
.nav
{
    float: right;
    margin-right: 10%;
    text-align: center;
    list-style: none;
    margin-top: 18px;
}
.nav li 
{
    display: inline-block;
    margin: 1px 3px;
}
.nav li a
{
    color: #fff;
    text-decoration:none;
    padding: 5px 10px;
    /* border: 1px solid #fff; */
    border-radius: 12px;
    transition:.4s;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}
.nav li a::after,
.header-active:after
{
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #4598dd;
    transition: 0.5s;
}
.header .nav .header-active:after
{
    width: 100%;
}
.nav li a:hover::after
{
   width: 100%;
}
.overlay
{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.7);
}
.home
{
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
    background: url(../images/google.b.jpg) no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    z-index: 99;
    text-align: center;
}
.home-title-holder
{

    position: absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}
.home .home-title-holder .home-title 
{
    color: #ffff;
    font-size: 45px;
    text-transform: uppercase;
}
.home .home-title-holder p
{
    color: #c6c6c6;
    margin-top: 10px;
    font-size: 25px;
}
.home .home-title-holder a
{
    display: inline-block;
    color: rgb(255, 255, 255);
    background: #6e3953;
    width: 134px;
    margin: 16px 5px;
    padding: 15px 20px;
    border: none;
    border-radius: 26px;
    transition: .4s;
}
.home .home-title-holder .btn-active
{
    background: #65bdff;
    color: #ddd;
    font-weight: 700;
}

.home .home-title-holder .btn:hover
{
    color: rgb(0, 0, 0);
    background: #fff;
}
.home .home-title-holder .btn-active:hover
{
    color: #000;
    background: #fff;
}
/* END OF NAV */
/* START OF BANNER SECTION*/   
 /*START OF ABOUT SECTION  */
.about, .feat , .offers, .pricing-section, .teams, .updates
{
    text-align: center;
    /* height: 100vh; */
    width: 100%;
    padding: 50px 0px 0px;
}
.about-title, .feat-title, .offers-title, .off-sec2, .pricing-title, .teams-title, .updates-title
{
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 50px 0px;
}
/* making 3 afters */
.about-title::after, .feat-title::after , .offers-title::after, .off-sec2-t::after, .pricing-title::after, .teams-title::after, .updates-title::after
{
    content: "";
    width: 100px;
    height: 4px;
    background: #4598dd;
    position: relative;
    display: block;
    margin: 10px auto;
}
.off-sec2 .t2::after
{
    margin: 10px 0px;
}
.feat .feat-parent, .updates-parent
{
    width: 100%;
    /* height: 100%; temp disabled */
    position: relative;
    /* background-color: rgb(191, 0, 0); */
}
.about .item1, .item2,.item3
{
    width: 30%;
    padding: 23px 0px;
    border: 2px solid #323232;
    border-radius: 15px;
    float: left;
    position: relative;
    overflow: hidden;
    z-index: 94;
}
.item {
    transition: 0.5s;
    background-color: #fff;
}
.cir 
{
    font-size: 40px;
    margin: 10px;
    color: #508ad7;
}
.item h3 
{
    margin: 10px 0px;
    font-size: 22px;
}
.item p
{
    margin-bottom: 15px;
}
.item a
{
    display: block;
    width: 40%;
    color: #2ea1ff;
    border: 1px solid #2ea1ff;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 17px auto;
    transition: .4s;
}
.item2
{
    margin: 0px 5%;
}
.ita
{
    position: relative;
}
.ita::after
{
    visibility: hidden;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top:0;
    left: 0;
    opacity: 0;
    background-color: #333;
    transition: .4s;
}
.ita:hover::after
{
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 1;
    z-index: -1;
}
.item:hover, .hovall:hover{
    color: #fff;
    transition:.3s;
    opacity: 1;
}
.item a:hover
{
    background: #fff;
    color: #000;
}
/* FEAT ITEMS */
.feat-item1, .feat-item2, .feat-item3, .feat-item4 ,.feat-item5 , .feat-item6
{
    display: inline-block;
    position: relative;
    float: left;
    width: 30%;
    height: 280px;
    padding: 20px;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
}
.feat-item2, .feat-item5
{
    margin: 0px 5%;
}
.feat1-bg, .feat2-bg , .feat3-bg, .feat4-bg , .feat5-bg , .feat6-bg
{
    margin: auto;
    position: relative;
    width: 95%;
    height: 95%;
    background: url(../images/lang.jpg);
    background-size: cover;
    background-position: left;
    z-index: 60;
}
.feat-item4, .feat-item5, .feat-item6
{
    margin-top: 40px;
}
.feat2-bg
{
    background: url(../images/fib.png);
    background-position: right bottom;
}
.feat3-bg
{
    background: url(../images/plu.png);
    background-size: cover;
    background-position: center;
}
.feat4-bg
{
    background: url(../images/web.jpeg) ;
    background-size: cover;
    background-position: center;
}
.feat5-bg
{
    background: url(../images/wallhaven-5dpyo9.jpg) ;
    background-size: cover;
    background-position: center;
}
.feat6-bg
{
    background: url(../images/wallhaven-6kk75x.png) ;
    background-size: cover;
    background-position: center;
}
.feat-item-links
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.316);
    z-index: 61;
    top: 0;
    left: 0;
    transition: .7s;
}
.feathov:hover .feat-item-links
{
    visibility: visible;
    opacity: 1;
}
.feat-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);

}
.feat-item-links .feat-content p
{
    color: #22496a;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    transition: 0.4s;
}
.feat-item-links .feat-content h4
{
    color: #fff;
    margin-bottom: 10px;
    font-size: 23px;
    transition: 0.5s;
}
.feat-item-links .feat-content i
{
    font-size: 20px;
    background: #2ea1ff;
    padding: 6px;
    color: #fff;
    width: 50px;
    border-radius: 10px;
    margin: 2px;
    transition: 0.6s;
}
/* OFFERS ITEMS */
.off-item1,.off-item2,.off-item3,.off-item4,.off-item5,.off-item6
{
    z-index: 1;
    color: #000;
    width: 30%;
    float: left;
    margin-bottom: 20px;
    transition: 0.8s;
    text-align: left;
    position: relative;
    border-radius: 15px;
    display: inline-block;
    padding: 28px 20px 10 85px;
    border: 1px solid gray;
}
.off-item2, .off-item5
{
    margin: 0px 5%;
}
.off-icons
{
    position: absolute;
    top: 15%;
    left: 13%;
    font-size: 40px;
}
.offers .offers-parent h2
{
    margin: 10px 0px 12px;
    letter-spacing: 1.3px;
}
.offers .offers-parent p
{
    margin: 0px 0px 20px;
    color: #999;
}
.icc
{
    color: #2ea1ff;
}
.off-item:hover
{
    color: #fff;
}
.mdesc, .desc
{
    color: #828282;
    font-size: 20px;
}
.mdesc{
    margin-bottom: 20px;
}
.desclist
{
    display: inline-block;
    width: 50%;
    float: left;
}
.off-img
{
    margin-top: 100px;
    width: 49%;
    float: right;
}
.img-right{
    width: 100%;
    height: 420px;
}
.desc{
    display: block;
    font-size: 17px;
    line-height: 20px;
    margin: 4px;
    font-weight: 100;
}
.check-icon
{
    margin-right: 5px;
    font-size: 20px;
    color: #65bdff;
}
.bullets{
    margin: 0px 43%;
}
.bullets li {
    display: inline-block;
    background: #828282;
    height: 10px;
    width: 10px;
    border-radius: 50px;
}
.bullets .active 
{
    background:#2ea1ff;
}
.bullets li:hover
{
    background: #2ea1ff;
}
/* END OF OFFERS START  OF STATS */
.stats
{
    height: 350px;
    background: url(../images/wallhaven-nr2p17.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.stat-items
{
    position: relative;
}
.st-item1, .st-item2,.st-item3, .st-item4
{
    margin: 7% .5% 0px;
    text-align: center;
    padding: 50px;
    width: 24%;
    float: left;
}
.users 
{
    color: #2ea1ff;
    font-size: 35px;
    line-height: 15px;
}
.st-title
{
    color: #fff;
    font-size: 29px;
    margin: 6px 0px 0px;
}
.st-desc
{
    color: #fff;
}
/*END OF STATS*/
.pricing-parent
{
    position: relative;
}
.pri-item1, .pri-item2, .pri-item3
{
    float: left;
    position: relative;
    width: 30%;
    /* background: #2ea1ff; */
    padding: 25px 10px;
    border: 1px solid slategray;
    border-radius: 20px;
}
.pri-item2
{
    margin: 0px 5%;
}
.pri-circle
{
    width: 100px;
    height: 100px;
    padding: 7px;
    background: #fff;
    border: 1px #333 solid;
    border-radius: 50%;
    margin: 20px auto;
}
.pri-circle h2
{
    font-size: 50px;
}
.pricing-p-desc p
{
    color: #323232;
    font-size: 17px;
    line-height: 30px;
}
.pricing-p-desc a
{
    display: inline-block;
    color: #000;
    font-size: 15px;
    border: 2px solid #65bdff;
    padding: 5px 10px;
    margin-top: 15px;
}
.pricing-parent .itemp::after
{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.450);
    position: absolute;
    transition: 0.5s;
    border-radius: inherit;
}
/* .pricing-parent  .itemp:hover .pri-hov, .pri-1st
{
    color: #65bdff;
    transition: 0.6s;
} */
.itemp:hover .pri-hov,
.itemp:hover .pri-1st {
  color: #65bdff;
  transition: 0.6s;
}
.pricing-parent  .itemp:hover::after
{
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
}
.sec7
{
    height: 350px;
    width: 100%;
    margin: 100px auto;
    background: url(../images/photo2.jpeg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 194%;
}
.sec7-parent , .team-parent
{
    width: 80%;
    margin: auto;
}
.sec7-parent
{
    color: white;
}
.sec7 .sec7-parent .sec7-head1 img
{
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 50%;
    float: left;
    background: #fff;
    margin: 0px 10px;
}
.sec7-item-desc
{
    /* padding: 0px 175px 16px; */
    margin: 60px 0px;
}
.sec7 .sec7-parent .sec7-head1 .sec7-it1stp
{
    color: #2ea1ff;
    font-weight: 600;
    line-height: 25px;
}
.sec7 .sec7-parent .sec7-head1 .sec7-1dec
{
    padding: 1px 20px;
    font-size: 18.6px;
}
.sec7 .sec7-parent .sec7-item1, .sec7-item2
{
    width: 49%;
    float: left;
    margin: 5% .5%;
}
/* ///////////////// teams ///////////// */
.team-parent
{
    width: 70%;
    overflow: hidden;
}
.team-item
{
    width: 30%;
    padding: 2% 3%;
    border: 1px solid #000;
    float: left;
}
.team-item .overlay-item
{
    background: rgba(0, 0, 0, 0.703);
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: 100; */
    opacity: .5;
}
.team1, .team2, .team3
{
    background: url(../images/blaise\ agüera.jpg) no-repeat;
    background-size: 110% 100%;
    background-position: center center;
    height: 100%;
}
.team-item2
{
    margin: 0px 4%;
}
.team-item .team-icons i
{
    display: block;
    line-height: 50px;
    background: #003561;
    font-size: 25px;
    width: 45px;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 1.4px;
    border-radius: 10px;
}
.team-item .team-icons a
{
    color: #fff;
}
.imglinks
{
    position: relative;
    width: 100%;
    height: 330px;
    z-index: 69;
}
.team-item .team-icons 
{
    position: absolute;
    top: 0;
    right: 0;
    /* visibility: hidden;
    opacity: 0; */
    transition:0.5s ;
    z-index: 101;
}
.team-item h3
{
    font-size: 153%;
    margin: 30px 0px 20px;
}
.team-item p
{
    font-size: 110%;
}
.team-item h3, .team-item p
{
    position: relative;
    z-index: 69;
}

/* Team Hover Effect*/
.team-item:hover .team-icons i,
.team-item:hover .overlay-item
{
    visibility: visible;
    opacity: 1;
}
.team-item:hover h3
{
    color: #fff;
}
.team-item:hover p
{
    color: #4598dd;
}
.tth
{
    position: relative;
}
.tth::after
{
    content: "";
    background: rgba(0, 0, 0, 0.615);
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .5s;
    z-index: 50;
}
.tth:hover::after
{
    opacity: 1;
    visibility: visible;
    width: 100%;
}
/*--------UPDATES SECTION---------- */
.updates-parent
{
    overflow: hidden;
    padding: 30px 0px 0px;
}
.updates-item
{
    position: relative;
    width: 30%;
    float: left;
    padding: 3% 3% 0px;
    text-align: left;
    margin: 0px 1.6%;
    border: 1px solid #003561;
    border-radius: 20px;
}
.up-img-container
{
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 14px;
}
.up-img-container img
{
    width: 100%;
    height: 100%;
}
.blog-info
{
    padding: 20px 0px;
}
.up-stats i
{
    font-size: 15px;
    margin-right: 5px;
}
.up-stats span
{
    font-size: 13px;
}
.up-stats 
{
    margin-bottom: 10px;
    text-align: center;
}
.up-icon
{
    color: #22496a;
}
.updates-item p
{
    font-size: 16px;
    font-weight: 600;
}
.updates-item a 
{
    color: #2ea1ff;
    padding: 5px 15px;
    border: 1px solid #2ea1ff;
    line-height: 40px;
    border-radius: 20px;
}
.updates-item a:hover
{
    background: #000;
    color: #fff;
}
/* END OF THE WEBSITE */
.footer
{
    margin: 50px 0px 0px;
    position: relative;
    padding: 6%;
    height: 280px;
    background: #242424;
    text-align: center;
    color: #ddd;
}
.footer-logos
{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-120%);
}
.footer p
{
    margin: 50px 0px 10px; 
}
.footer-links a
{

    color: #9b9b9b;
    font-size: 20px;
    margin: 1px;
    transition: .2s;
}
.footer-links a:hover
{
    color: #fff;
}